body {
    background-color: rgb(65, 59, 59)
}

h1 {
    color: white;
    font-size: 25px;
    padding: 20px
}

h2 {
    color: white;
    font-size: 20px;
    padding: 20px;
}

img {
   padding: 20px
}